@charset "utf-8";
/* CSS Document */

body {
	padding:0px;
	font-family:cabin-condensed,Arial, Helvetica, sans-serif;
	font-size:14px;
	margin:0px;
}

#ieFallback {
	width:462px;
	position:absolute;
	height:346px;
}


#mainContent {
	width:462px;
	position:relative;
	height: 500px;
	padding:0px;
	/*background-image:url(eitc_calc_div_background.png);
	background-repeat:no-repeat;*/
}

#mainContent #mainContentBackground {
	position:absolute;
	top:0px;
	left:0px;	
}

#mainContent input {
	font-size:14px;
	font-family:cabin-condensed,Arial, Helvetica, sans-serif;	
	font-weight:bold;
}

#mainContent select {
	font-size:14px;
	font-family:cabin-condensed,Arial, Helvetica, sans-serif;	
	font-weight:bold;
}

#filingStatusDiv{
	position:absolute;
	top:45px;
	left:74px;
}

#scenarioSelectDiv {
	position:absolute;
	left:163px;
	top:94px;
}

#childrenSelectDiv{
	position:absolute;
	top:45px;
	left:387px;
	display:none;	
}

#headWageIncomeDiv{
	position:absolute;
	top:69px;
	left:154px;	
}

#slider_area{
	position:absolute;
	width:420px;
	left:36px;
	top:336px;
}

#slider_area #head_slider {
	height:2px;	
	background-color:#1188d1;
	background-image:none;
	border:0px;
}

#slider_area #head_slider .ui-slider-handle {
	height:12px;
	width:12px;
	margin:0px;
	padding:0px;
	background-image:url(slider_handle_background.png);
	background-color:#FFF;
}

#result_text_area {
	position:absolute;
	text-align:right;
	right:0px;
	top:68px;
	color:#e1911e;
	font-size:18px;
	font-weight:bold;
}

#result_text_area #eitc_result_line{
	position:absolute;
	right:10px;
	top:20px;
	color:#fff;
	width:100px;
}

#result_text_area img {
	margin-right:10px;	
}

#chart_background {
	position:absolute;
	width:425px;
	left:38px;
	top:135px;
	height:170px;	
}

#chart_area {
	width:100%;
	height:100%;
	position:relative;
}

.google-visualization-tooltip {
	z-index:100;	
}
